<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Sans+JP:wght@700&family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="frame">
    <div class="group-1">
      <p class="name">UNREAL FACTORY</p>
      <div class="btnBackground">
        <a href="/catalog" class="loginLink"><p class="loginBtn">Catalog</p></a>
      </div>
      <div class="sns">
        <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_25_35)">
          <path d="M56.5 28.5C56.5 42.2731 46.5558 53.7261 33.4544 56.063V37.2376H39.596H40.0252L40.0902 36.8133L41.3527 28.5757L41.4409 28H40.8584H33.4544V23.1547C33.4544 22.1002 33.714 21.1208 34.3279 20.4112C34.9302 19.7152 35.9384 19.2044 37.5989 19.2044H41.192H41.692V18.7044V11.6913V11.2696L41.2763 11.1985L41.192 11.6913C41.2763 11.1985 41.2762 11.1985 41.2762 11.1985L41.276 11.1984L41.2754 11.1983L41.2733 11.198L41.2656 11.1967L41.2364 11.1918C41.2109 11.1876 41.1734 11.1814 41.1249 11.1737C41.0278 11.1581 40.8862 11.136 40.7069 11.1096C40.3483 11.0567 39.8381 10.9863 39.2296 10.916C38.0149 10.7755 36.399 10.634 34.8122 10.634C31.4559 10.634 28.6256 11.6523 26.6337 13.6453C24.6413 15.6388 23.5456 18.5498 23.5456 22.2216V28H16.8087H16.3087V28.5V36.7376V37.2376H16.8087H23.5456V56.063C10.4442 53.7261 0.5 42.2731 0.5 28.5C0.5 13.0357 13.0357 0.5 28.5 0.5C43.9643 0.5 56.5 13.0357 56.5 28.5Z" fill="white" stroke="white"/>
          <path d="M39.5918 36.7376L40.8542 28.5H32.9502V23.1547C32.9502 20.9 34.0522 18.7044 37.5947 18.7044H41.1878V11.6913C41.1878 11.6913 37.9282 11.134 34.808 11.134C28.2973 11.134 24.0413 15.0776 24.0413 22.2216V28.5H16.8044V36.7376H24.0413V56.6538C25.4938 56.8818 26.98 57 28.4958 57C30.0116 57 31.4978 56.8818 32.9502 56.6538V36.7376H39.5918Z" fill="#47285B"/>
          </g>
          <defs>
          <clipPath id="clip0_25_35">
          <rect width="57" height="57" fill="white"/>
          </clipPath>
          </defs>
        </svg>
        <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_25_38)">
          <path d="M28.5 57C44.2401 57 57 44.2401 57 28.5C57 12.7599 44.2401 0 28.5 0C12.7599 0 0 12.7599 0 28.5C0 44.2401 12.7599 57 28.5 57Z" fill="white"/>
          <path d="M28.5001 13.7898C33.2923 13.7898 33.8581 13.8067 35.7496 13.8953C37.4976 13.9756 38.4476 14.2669 39.0809 14.5118C39.9169 14.8369 40.5165 15.2253 41.1456 15.8544C41.7747 16.4836 42.1632 17.0789 42.4883 17.9191C42.7332 18.5524 43.0245 19.5024 43.1047 21.2504C43.1892 23.142 43.2103 23.712 43.2103 28.5C43.2103 33.288 43.1934 33.858 43.1047 35.7496C43.0245 37.4976 42.7332 38.4476 42.4883 39.0809C42.1632 39.9169 41.7747 40.5164 41.1456 41.1456C40.5165 41.7747 39.9212 42.1631 39.0809 42.4882C38.4476 42.7331 37.4976 43.0244 35.7496 43.1047C33.8581 43.1891 33.2923 43.2102 28.5001 43.2102C23.7078 43.2102 23.1421 43.1933 21.2505 43.1047C19.5025 43.0244 18.5525 42.7331 17.9192 42.4882C17.0832 42.1631 16.4836 41.7747 15.8545 41.1456C15.2254 40.5164 14.8369 39.9211 14.5118 39.0809C14.2669 38.4476 13.9756 37.4976 13.8954 35.7496C13.8109 33.858 13.7898 33.288 13.7898 28.5C13.7898 23.712 13.8067 23.142 13.8954 21.2504C13.9756 19.5024 14.2669 18.5524 14.5118 17.9191C14.8369 17.0831 15.2254 16.4836 15.8545 15.8544C16.4836 15.2253 17.0789 14.8369 17.9192 14.5118C18.5525 14.2669 19.5025 13.9756 21.2505 13.8953C23.1421 13.8109 23.7121 13.7898 28.5001 13.7898ZM28.5001 10.5556C23.6276 10.5556 23.0154 10.5767 21.1027 10.6653C19.1943 10.754 17.8896 11.0538 16.7454 11.5013C15.5674 11.9616 14.5667 12.5738 13.5661 13.5702C12.5696 14.5667 11.9532 15.5673 11.4972 16.7496C11.0538 17.8896 10.7498 19.1942 10.6612 21.1069C10.5725 23.0196 10.5514 23.6318 10.5514 28.5042C10.5514 33.3767 10.5725 33.9889 10.6612 35.9016C10.7498 37.81 11.0496 39.1147 11.4972 40.2589C11.9574 41.4369 12.5696 42.4376 13.5661 43.4382C14.5625 44.4347 15.5632 45.0511 16.7454 45.5071C17.8854 45.9504 19.1901 46.2544 21.1027 46.3431C23.0154 46.4318 23.6276 46.4529 28.5001 46.4529C33.3725 46.4529 33.9847 46.4318 35.8974 46.3431C37.8058 46.2544 39.1105 45.9547 40.2547 45.5071C41.4327 45.0469 42.4334 44.4347 43.4341 43.4382C44.4305 42.4418 45.0469 41.4411 45.5029 40.2589C45.9463 39.1189 46.2503 37.8142 46.3389 35.9016C46.4276 33.9889 46.4487 33.3767 46.4487 28.5042C46.4487 23.6318 46.4276 23.0196 46.3389 21.1069C46.2503 19.1984 45.9505 17.8938 45.5029 16.7496C45.0427 15.5716 44.4305 14.5709 43.4341 13.5702C42.4376 12.5738 41.4369 11.9573 40.2547 11.5013C39.1147 11.058 37.8101 10.754 35.8974 10.6653C33.9847 10.5767 33.3725 10.5556 28.5001 10.5556Z" fill="#47285B"/>
          <path d="M28.5 19.2871C23.4122 19.2871 19.2871 23.4122 19.2871 28.5C19.2871 33.5878 23.4122 37.7129 28.5 37.7129C33.5878 37.7129 37.7129 33.5878 37.7129 28.5C37.7129 23.4122 33.5878 19.2871 28.5 19.2871ZM28.5 34.4829C25.1982 34.4829 22.5171 31.806 22.5171 28.5C22.5171 25.194 25.194 22.5171 28.5 22.5171C31.806 22.5171 34.4829 25.194 34.4829 28.5C34.4829 31.806 31.806 34.4829 28.5 34.4829Z" fill="#47285B"/>
          <path d="M38.0803 21.0731C39.2696 21.0731 40.2337 20.109 40.2337 18.9198C40.2337 17.7305 39.2696 16.7664 38.0803 16.7664C36.8911 16.7664 35.927 17.7305 35.927 18.9198C35.927 20.109 36.8911 21.0731 38.0803 21.0731Z" fill="#47285B"/>
          </g>
          <defs>
          <clipPath id="clip0_25_38">
          <rect width="57" height="57" fill="white"/>
          </clipPath>
          </defs>
        </svg>
        <svg width="58" height="57" viewBox="0 0 58 57" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="29.1756" cy="28.5271" r="28.473" fill="white"/>
          <g clip-path="url(#clip0_25_47)">
          <path d="M31.8844 26.7711L42.4841 14.2906H39.9723L30.7686 25.1272L23.4176 14.2906H14.9391L26.0552 30.6775L14.9391 43.7653H17.451L27.1704 32.3214L34.9336 43.7653H43.4121L31.8838 26.7711H31.8844ZM28.4439 30.8219L27.3176 29.1901L18.3561 16.2059H22.2143L29.4464 26.6846L30.5726 28.3164L39.9735 41.937H36.1153L28.4439 30.8225V30.8219Z" fill="#47285B"/>
          </g>
          <defs>
          <clipPath id="clip0_25_47">
          <rect width="28.473" height="29.4899" fill="white" transform="translate(14.9391 14.2906)"/>
          </clipPath>
          </defs>
        </svg>
        <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_25_44)">
          <path d="M28.5 57C44.2401 57 57 44.2401 57 28.5C57 12.7599 44.2401 0 28.5 0C12.7599 0 0 12.7599 0 28.5C0 44.2401 12.7599 57 28.5 57Z" fill="#FAFDFF"/>
          <path d="M46.7062 19.3547C46.2713 17.7207 44.9836 16.4329 43.3453 15.9938C40.3813 15.2 28.5 15.2 28.5 15.2C28.5 15.2 16.6187 15.2 13.6547 15.9938C12.0207 16.4329 10.7329 17.7164 10.2938 19.3547C9.5 22.3187 9.5 28.5 9.5 28.5C9.5 28.5 9.5 34.6813 10.2938 37.6453C10.7287 39.2793 12.0164 40.5671 13.6547 41.0062C16.6187 41.8 28.5 41.8 28.5 41.8C28.5 41.8 40.3813 41.8 43.3453 41.0062C44.9793 40.5671 46.2671 39.2836 46.7062 37.6453C47.5 34.6813 47.5 28.5 47.5 28.5C47.5 28.5 47.5 22.3187 46.7062 19.3547ZM24.7 34.2V22.8L34.5716 28.5L24.7 34.2Z" fill="#47285B"/>
          </g>
          <defs>
          <clipPath id="clip0_25_44">
          <rect width="57" height="57" fill="white"/>
          </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="group-2">
      <div class="human1">
        <img src="../public/img/inDex1.png" alt="Human1">
      </div>
      <div class="human2">
        <img src="../public/img/inDex2.png" alt="Human2">
      </div>
      <div class="human3">
        <img src="../public/img/inDex5.png" alt="Human3">
      </div>
      <div class="human4">
        <img src="../public/img/inDex3.png" alt="Human4">
      </div>
    </div>
  </div>
</body>
</html>
