.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  transition: transform 0.3s ease;
  display: inline-block;
}

.card:hover {
  transform: scale(1.1);
}

.modelCardLink {
  text-decoration: none;
}

.card img{
  height: 300px;
  width: 300px;
}

.card p {
  width: 100%;
  padding: 10px 0;
  color: white;
  font-size: 15px;
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
}
